$secondary-color: #ff9900;
$primary-color: #01585c;

$orange: #ff952d;
$darkOrange: #fc570a;
$teal: #13a3a8;
$teal2: #009999;
$grey: #a1b0b6;
$black: #263335cb;
$white: #f5f5f5;
$greyLight: #dcf9fa;
$pink: #0abcc2;

//sourced
$bluey: #22c8e5;
