@import "config";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: "Montserrat", "Helvetica", sans-serif;
}

a {
  text-decoration: none;
}

p,
h1,
a {
  color: $black;
}

.contactBtn {
  padding: 0.8em 2em;
  font-size: 1.2em;
  background-color: $secondary-color;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: $darkOrange;
  }
}
/* Mobile Devices */
@media (max-width: 320px) {
  // background-color: rgb(207, 197, 56);
}

/* Mobile Devices */
@media (min-width: 321px) and (max-width: 480px) {
  // background-color: rgb(8, 108, 133);
}

/* Low resolution Tablets and iPads */
@media (min-width: 481px) and (max-width: 767px) {
  // background-color: bisque;
}

/* Tablets iPads (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  // background-color: blueviolet;
}

/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  //background-color: greenyellow;
}

/* Big boi Monitors */
@media (min-width: 1281px) {
}
