@import "config";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: "Montserrat", "Helvetica", sans-serif;
  background-color: $white;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px auto;

  .breadCrumb {
    font-weight: 500;
    font-size: 20px;
    color: $grey;

    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .titleBg {
    font-size: 66px;
    line-height: 1;
    font-weight: 600;
    color: $teal;
  }

  .title {
    font-size: 28px;
    font-weight: 600;
    color: $black;
  }

  .title2 {
    font-size: 22px;
    color: $black;
    font-weight: 600;
    margin-bottom: 12px;
  }
  p {
    color: $black;
  }

  .errors {
    color: red;
  }

  a {
    text-decoration: none;

    &:visited {
      color: $teal;
    }
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
