@import "../../config";

.homeWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 80px auto 0 auto;
  padding: 100px 20px 85px 20px;
  gap: 40px;
  flex-wrap: wrap;
  // height: calc(100vh - 80px);
  //border: 1px solid crimson;

  .lefty {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;

    .contactBtn {
      padding: 0.8em 2em;
      font-size: 1.2em;
      background-color: $secondary-color;
      border: none;
      color: #fff;
      cursor: pointer;
      border-radius: 25px;
      transition: all 0.5s ease-in-out;
      margin-top: 30px;

      &:hover {
        background-color: $teal;
      }
    }

    .title {
      font-size: 72px;
      font-weight: 700;
      line-height: 1.15;
      color: $primary-color;
      margin-top: -40px;

      span {
        color: $secondary-color;
      }
    }
    .para {
      font-size: 1.3em;
      line-height: 1.35;
    }

    @media (max-width: 768px) {
      align-items: center;
      justify-items: center;
      flex-wrap: wrap;

      .title {
        font-size: 48px;
        text-align: center;
      }
      .para {
        text-align: center;
        font-size: 20px;
      }
    }
  }
  .righty {
    flex: 1;
    min-width: 350px;

    img {
      align-self: center;
      width: 500px;
    }

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 4em auto;
    }
  }
}
