@import "../../config";

.navContainer {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  //box-shadow: rgba(100, 95, 136, 0.15) 0px 2px 6px 0px;
  position: fixed;
  top: 0px;
  z-index: 99999999;
  background-color: rgb(196, 255, 255);

  /* Mobile Devices */
  @media (max-width: 320px) {
    //background-color: rgb(207, 197, 56);
  }

  /* Mobile Devices */
  @media (min-width: 321px) and (max-width: 480px) {
    //background-color: rgb(8, 108, 133);
  }

  /* Low resolution Tablets and iPads */
  @media (min-width: 481px) and (max-width: 767px) {
    //background-color: bisque;
  }

  /* Tablets iPads (Portrait) */
  @media (min-width: 768px) and (max-width: 1024px) {
    //background-color: blueviolet;
  }

  /* Laptops and Desktops */
  @media (min-width: 1025px) and (max-width: 1280px) {
    //background-color: greenyellow;
  }

  .navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 95%;
    margin: auto;
    padding: 0 50px;

    .logo {
      max-width: 200px;
    }
    ul {
      display: flex;
      gap: 1.5em;

      @media (max-width: 769px) {
        display: none;
      }

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: grey;
        }
      }
    }
    .navBtn {
      padding: 0.3em 1.8em;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      .btnText {
        text-align: center;
        display: flex;
        font-weight: 500;
        align-items: center;
        gap: 5px;
        color: $primary-color;
      }
      .callUs {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $secondary-color;
      }

      &:hover {
        .btnText {
          color: $secondary-color;
        }

        .callUs {
          color: $teal;
        }
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .burgerWrapper {
      width: 40px;
      height: 40px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .burgerClose {
        right: 0;
        height: 4px;
        background-color: orange;
        width: 35px;
        position: relative;
        transition: all 0.4s ease-in-out;

        &::before {
          content: "";
          height: 4px;
          background-color: rgb(2, 97, 97);
          width: 35px;
          transform: translateY(10px);
          position: absolute;
          transition: all 0.3s ease-in-out;
        }
        &::after {
          content: "";
          height: 4px;
          background-color: teal;
          width: 35px;
          transform: translateY(-10px);
          position: absolute;
          transition: all 0.3s ease-in-out;
        }
      }
      .burgerOpen {
        right: 0;
        height: 4px;
        width: 35px;
        transition: all 0.35s ease-in-out;

        &::before {
          content: "";
          height: 4px;
          background-color: orange;
          width: 35px;
          transform: rotate(-225deg);
          position: absolute;
          transition: all 0.3s ease-in-out;
        }
        &::after {
          content: "";
          height: 4px;
          background-color: teal;
          width: 35px;
          transform: rotate(225deg);
          position: absolute;
          transition: all 0.3s ease-in-out;
        }
      }

      @media (min-width: 769px) {
        display: none;
      }
    }
  }
  .mobileMenu {
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    background-color: rgb(3, 118, 122);
    transition: all 0.3s ease-in-out;

    ul {
      display: flex;
      gap: 30px;
      flex-direction: column;

      li {
        list-style: none;
        text-align: center;
        a {
          font-size: 18px;
        }
      }
    }

    @media (min-width: 769px) {
      display: none;
    }
  }
}
